<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>VotingSys</display-name>

	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>com.yc.votingsys.servlet.UserInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/userInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VotingInfoServlet</servlet-name>
		<servlet-class>com.yc.votingsys.servlet.VotingInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VotingInfoServlet</servlet-name>
		<url-pattern>/votingInfo</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>